<%- include('header'); -%>
 <!-- Nav Bar -->
 <div >
    <form action="">
      <a class="navi" href="/">Personal</a>
      <a class="navi" href="/work">Work</a>
      <a class="navi" href="/about">About App</a>
    </form>
  </div>

<div class="about-style">
  <h2>About Rock Devs</h2>
  <p>Rock Devs is a company founded by Nebiyou Belaineh who is a Software Developer, Biomedical Engineer and an Enterpnuer..... </p>

</div>

<%- include('footer'); -%>