<%- include('header'); -%>
 <!-- Nav Bar -->
 

<div class="about-style">
  <h2>About</h2>
  <p>Developed by Nebiyou Seifu, this app allows users to create custom Todo lists to keep track of different tasks in different Todo lists. Users can add new task and check-off completed tasks.</p>

</div>

<%- include('footer'); -%>